.main .model {
    position: fixed;
    background: rgba(0, 0, 0, .5);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

}

.main img {
    width: 100%;
}

.main .model .container {
    height: 400px;
    width: 400px;
    position: absolute;
    background-color: aliceblue;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 6px;
    padding: 1.5em;
    box-sizing: border-box;
}

.main .model .container .close {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    background-color: brown;
    color: aliceblue;
    position: absolute;
    right: -15px;
    top: -15px;
    border: 2px solid aliceblue;
    cursor: pointer;
}